*{
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    display:flex;
    flex-direction: column;
    
}

.btn{
   background-color: black;
   color: white;
   box-shadow:5px 5px 5px rgb(139, 131, 131) ;
}

.bg-design{

   background-color: black;
}


p{
   text-align: justify;
}

 .profile-pic{
    display: block;
     border-radius: 55%;
     height:230px;
     width: 170px;
     align-self:center; 
    margin: auto;
    position: relative;
}

.text-center{
   font-family: 'Fredoka One', cursive;
}

.text{
     text-align: center;   
 }

 .btn-align{

    text-align:center;
    display: block;
    margin: auto;
    position: relative;
    
 }

 .card{

   box-shadow: 10px 10px 10px rgb(131, 123, 123);
   
 }

 #about{

   flex:1;
   margin: auto;
   color: white;
 }

 #intro{

   flex: 1;
   margin: auto;
 }

 .about{
    background-color: black;
    display: flex;
    flex-direction: row;
 }

 .container{
   margin: auto;
   justify-content: center;
   align-items: center;
 }

.ml2 {
    font-weight: 400;
    font-size: 40px;
    color: white;
 }
  
  .ml2 .letter {
    display: inline-block;
  }

  .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: contain;
}

  .con_container {
    width: 60%;
    margin: 2rem auto; 
  }

 .con_gallery{

    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,5fr) ;
    grid-gap:1.2rem;

 }

 .gallery-item1{

    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:2 ;
    grid-row-end:3;

 }

 .gallery-item2{

    grid-column-start:3 ;
    grid-column-end:4;
    grid-row-start:2 ;
    grid-row-end:3;
    
 }

 .gallery-item3{

    grid-column-start:4 ;
    grid-column-end:5;
    grid-row-start: 2;
    grid-row-end:3;
    
 }

 .embed-responsive .card-img-top {
   object-fit: cover;
}


@media only screen and (max-width:500px){

    .about{
       flex-direction: column;
    }
    .ml2 {
        font-weight: 400;
        font-size: 30px;
     }

     .con_container {
        width: 100%;
        margin: 2rem auto; 
      }

     .con_gallery{

        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(3,5fr) ;

     }
    
     .gallery-item1{

        grid-column-start:2;
        grid-column-end:3;
        grid-row-start:2 ;
        grid-row-end:3;

     }

     .gallery-item2{

        grid-column-start:3 ;
        grid-column-end:4;
        grid-row-start:2 ;
        grid-row-end:3;
        
     }

     .gallery-item3{

        grid-column-start:4 ;
        grid-column-end:5;
        grid-row-start: 2;
        grid-row-end:3;
        
     }

    }