*{
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    display:flex;
    flex-direction: column;
    
}


nav{
    height:60px;
    background-color: #46454b;
    flex-wrap: wrap;
}

.a_style{
    margin:10px;
    padding:10px;
    color: aliceblue;
    font-family: 'Merriweather', serif;
    font-size:25px;
    border: none;
}

.site-header{
 
    
    display:flex;
    flex-direction:column;
    margin:20px 0px;
    position:relative;
    color:#46454b ;
    height:400px;
}
 .profile-pic{
     border-radius: 50%;
     height:200px;
     width:200px;
     align-self:center;  
}

 .text{
     text-align: center;
    
 }
 .site-text{
     margin:30px 0px;
     background-color: #46454b ;
     color:  aliceblue;
     height:400px;
 }

.menu-align{
  
    float: right;
    position: relative;
    margin: 0px 50px;
    padding: 10px;
}

.innerdiv{

    margin:50px 0px;
}

.ml2 {
    font-weight: 400;
    font-size: 40px;
 }
  
  .ml2 .letter {
    display: inline-block;
  }

  .con_container {
    width: 60%;
    margin: 2rem auto; 
  }

 .con_gallery{

    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,5fr) ;
    grid-gap:1.2rem;

 }

 .gallery-item1{

    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:2 ;
    grid-row-end:3;

 }

 .gallery-item2{

    grid-column-start:3 ;
    grid-column-end:4;
    grid-row-start:2 ;
    grid-row-end:3;
    
 }

 .gallery-item3{

    grid-column-start:4 ;
    grid-column-end:5;
    grid-row-start: 2;
    grid-row-end:3;
    
 }




@media only screen and (max-width:500px){

    .a_style{
        float:none;  
        font-size:15px;
        font-weight: 400;
   
    }

    nav{

        display:none;
        background-color: #ee6163;
        
    }

    .site-text{

        background-color: #ee6163;
    }

    .menu-align{
        
        position: relative;
        padding: 10px 0px;
        margin:0px;
    }

    p{
        line-height: 1.8;
        font-size: 20px;
        font-weight: 400;
        text-align: center;
    }

    .container {
        width: 200px;
        margin-right: auto;
        margin-left: auto;
    }

    .site-header{
        color:  #f34042;
    }

    .ml2 {
        font-weight: 400;
        font-size: 30px;
     }

     .con_container {
        width: 100%;
        margin: 2rem auto; 
      }

     .con_gallery{

        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(3,5fr) ;

     }
    
     .gallery-item1{

        grid-column-start:2;
        grid-column-end:3;
        grid-row-start:2 ;
        grid-row-end:3;

     }

     .gallery-item2{

        grid-column-start:3 ;
        grid-column-end:4;
        grid-row-start:2 ;
        grid-row-end:3;
        
     }

     .gallery-item3{

        grid-column-start:4 ;
        grid-column-end:5;
        grid-row-start: 2;
        grid-row-end:3;
        
     }

    }