*{
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    display:flex;
    flex-direction: column;
    
}

 .profile-pic{
    display: block;
     border-radius: 55%;
     height:230px;
     width: 170px;
     align-self:center; 
    margin: auto;
    position: relative;
}


.text{
     text-align: center;
    
 }

 .btn-align{

    text-align:center;
    display: block;
    margin: auto;
    position: relative;
    
 }


.ml2 {
    font-weight: 400;
    font-size: 40px;
 }
  
  .ml2 .letter {
    display: inline-block;
  }

  .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: contain;
}

  .con_container {
    width: 60%;
    margin: 2rem auto; 
  }

 .con_gallery{

    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,5fr) ;
    grid-gap:1.2rem;

 }

 .gallery-item1{

    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:2 ;
    grid-row-end:3;

 }

 .gallery-item2{

    grid-column-start:3 ;
    grid-column-end:4;
    grid-row-start:2 ;
    grid-row-end:3;
    
 }

 .gallery-item3{

    grid-column-start:4 ;
    grid-column-end:5;
    grid-row-start: 2;
    grid-row-end:3;
    
 }




@media only screen and (max-width:500px){


    .ml2 {
        font-weight: 400;
        font-size: 30px;
     }

     .con_container {
        width: 100%;
        margin: 2rem auto; 
      }

     .con_gallery{

        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(3,5fr) ;

     }
    
     .gallery-item1{

        grid-column-start:2;
        grid-column-end:3;
        grid-row-start:2 ;
        grid-row-end:3;

     }

     .gallery-item2{

        grid-column-start:3 ;
        grid-column-end:4;
        grid-row-start:2 ;
        grid-row-end:3;
        
     }

     .gallery-item3{

        grid-column-start:4 ;
        grid-column-end:5;
        grid-row-start: 2;
        grid-row-end:3;
        
     }

    }